@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.topnav {
  background-color: #0C0D14 ; /* Dark blue */
  overflow: hidden;
}

/* Updated Logo Styles with Neon Glow Effect */
.logo {
  float: left;
  padding: 20px 50px;
}

.logo-link {
  color: #fff; /* White */
  font-size: 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.logo-link::before, .logo-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #66FCF2, #0C0D14, gray);
  clip-path: polygon(0 0, 0% 100%, 0 100%);
  transition: clip-path 0.5s ease-in-out;
}

.logo-link::after {
  background: linear-gradient(45deg, gray, #0C0D14, #66FCF2);
  clip-path: polygon(100% 0, 100% 100%, 100% 100%);
}



/* Neon Glow Effect */
@keyframes neonGlow {
  from {
    text-shadow: 0 0 10px #66FCF2, 0 0 20px #66FCF2, 0 0 30px #66FCF2, 0 0 40px #66FCF2, 0 0 50px #66FCF2, 0 0 60px #66FCF2, 0 0 70px #66FCF2;
  }
  to {
    text-shadow: 0 0 5px #66FCF2, 0 0 10px #66FCF2, 0 0 15px #66FCF2, 0 0 20px #66FCF2, 0 0 25px #66FCF2, 0 0 30px #66FCF2, 0 0 35px #66FCF2;
  }
}

.logo-link {
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}


.nav-links {
  float: right;
  padding: 20px;
}

.nav-link {
  color: #fff; /* White */
  font-size: 16px;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #00bcd4; /* Cyan */
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;
  color: #fff; /* White */
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.dropbtn:hover {
  color: #00bcd4; /* Cyan */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #283d4b; /* Dark blue */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff; /* White */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #00bcd4; /* Cyan */
}

.icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav {
    overflow: hidden;
  }
  
  .logo {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  
  .logo-link {
    font-size: 18px;
  }

  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  
  .nav-links a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff; /* White */
  }
  
  
  
  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 14px;
    background-color: #0C0D14;
    color: #fff; /* White */
    border: none;
    cursor: pointer;
  }
  
  .responsive {
    position: relative;
  }
  
  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .responsive .nav-links {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .responsive .nav-links a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a {
    color: #fff; /* White */
    text-align: center;
  }
}
